<div class="container">

        <h2 class="form-signin-heading">Search</h2>
        <input type="text"  class="form-control search-input" placeholder="City" required autofocus ng-model="vm.city">
        <button class="btn btn-lg btn-primary search-btn" ng-click="vm.search()">Search</button>

        <div class="row ">
            <div class="col-sm-12">
                <table class="table table-condensed result-table">
                    <thead>
                        <tr>
                            <th>Tour Id</th>
                            <th>Tour Name</th>
                            <th>Tour Code</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.result">
                            <th>{{ row.TourId}}</th>
                             <td>{{ row.TourName }}</td>
                            <td>{{ row.TourCode }}</td>
                            <td>{{ row.Country }}</td>
                            <td>{{ row.City }}</td>
                            <td>{{ row.Price }}</td>
                            <td><img style="width:50px;height:50px" ng-src="{{row.Image}}" /></td>
                            <td>{{ row.Date }}</td>
                            <td>{{ row.Description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div> <!-- /container -->

